.brand-gradient {
  background: #608dcf;
  background: linear-gradient(to bottom left, #608dcf 21%, #a5cf2c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-holder {
  position: relative;
  background-image: url(./gambar/bg-hero.jpg);
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute; /* Overlay berada di atas gambar */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay hitam dengan opasitas 50% */
  z-index: 1; /* Pastikan overlay berada di atas gambar */
}

.text-center {
  position: relative; /* Membuat konten berada di atas overlay */
  z-index: 2; /* Agar teks tetap terlihat di atas overlay */
}
